{% extends "layout.html" %}
{% block content %}

    <div class="body body--checkout">
        <div>
			<div class="sidebar">
			    {% include "header_3.html" %}   
				{{ modules|raw }}
			</div>
		</div>
        <!-- LEFT PANEL (BASKET OVERVIEW & COUPONS) -->
        <div>
            <div class="panel panel-review">
                <!-- BASKET OVERVIEW -->
                <div class="panel__heading">
                    <h2>Review your cart</h2>
                </div>
                <div class="panel__body">
                    <div class="review">
                        {% for package in basket.packages %}
                            <form method="post" action="/checkout/update" id="package--{{package.id}}">
                                <div class="package">
                                    <div class="package__info">
                                        <h3>{{ package.name[:25] }}</h3>
                                        <div class="package__tags">
                                            <span class="tag tag--left tag--700">{{ package.price|money }} {{ basket.currency }}</span>
                                            {% if package.ign != "" %}
                                                <span class="tag tag--gift tag--700"><i class="fas fa-gift"></i>{{ package.ign }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="package__buttons">
                                        <span>Quantity:</span>
                                        <a href="javascript::void(0);" data-remote="/package/{{ package.id }}" class="iconBoxed iconBoxed--rounded package__infoModal toggle-modal cursorAura cursorAura--dim"><i class="fas fa-info"></i></a>
                                        <button type="button" onclick="subtractPackage({{package.id}})" class="iconBoxed iconBoxed--rounded package__remove cursorAura" ><i class="fas fa-minus"></i></button>
                                        <input type="text" class="package__quantity" name="quantity[{{ package.id }}]" value="{{ package.quantity }}" {% if package.price == 0.00 or package.disableQuantity %}disabled="disabled"{% endif %} maxlength="3"/>
                                        <a href="/checkout/packages/add/{{ package.id }}" class="iconBoxed iconBoxed--rounded package__add cursorAura"><i class="fas fa-plus"></i></a>
                                    </div>
                                </div>
                            </form>
                        {% endfor %}
                    </div>
                        
                    <!-- Original way of updating quantity count
                    <div class="packages">
                        <form method="post" action="/checkout/update">
                            <button class="btn btn-default btn-sm hidden-xs"><i class="fa fa-refresh"></i></button>
                        </form>
                    </div>
                    -->
    
                </div>
                
                <!-- COUPONS -->
                <div class="panel__heading panel__heading--coupons">
                  <h2>Apply Coupons & Gift Cards</h2>
                </div>
                <div class="panel__body">
                    <div class="coupons">
                        <form method="post" action="/checkout/coupons/add">
                            <input type="text" name="coupon" placeholder="Enter code">
                            <button class="btn btn--primary cursorAura">Apply</button>
                        </form>
                    </div>
    
                    {% if basket.coupons|length > 0 %}
                        <div class="redeemed">
                            {% for coupon in basket.coupons %}
                                <div class="coupon">
                                    <p class="text--title">{{ coupon.code }}</p>
                                    <a href="/checkout/coupons/remove/{{ coupon.code }}"><i class="fas fa-times"></i></a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div> 
            
            
            {% if store.useCheckout %}
            <div>
                <div class="panel">
                    <div class="panel__heading">
                       <h2><i class="fas fa-address-card"></i>Checkout</h2>
                    </div>
                    <div class="panel__body">
                        <div class="hide">{{ privacyForm|raw }}</div>
                        <p>Upon proceeding, you'll be redirected to Tebex Checkout. Please follow the instructions.</p>
                    </div>
                    <div class="panel__footer">
                        <form method="post" action="{% if basket.price > 0 %}/checkout/pay{% else %}/checkout/free{% endif %}" class="basket__total checkout">
                            <div>
                                <h3>Total</h3>
                                <h2>{{ basket.price|money }} {{basket.currency}}</h2>
                            </div>
                            <button type="submit" class="btn btn--primary cursorAura" id="purchase-button" data-loading-text="Redirecting..">Pay Now</button>
                        </form>
                    </div>
                </div>
            </div>
        {% else %}
        
            <!-- CURRENTLY NOT SUPPORTED (OLD CHECKOUT PAGE) -->            
            {% include "virtualcurrency.html" %}
            <div class="panel">
        		<form method="post" action="{% if basket.price > 0 %}/checkout/pay{% else %}/checkout/free{% endif %}" {% if basket.price > 0 %}class="gateway"{% endif %}>
                    <input type="hidden" name="type" value="single" />    
                        {% if (checkout.amazonpay or checkout.gateways|length > 0) and basket.price > 0 %}
                            <div class="panel__heading">
                                <h2><i class="fas fa-address-card"></i>Checkout</h2>
                            </div>
                            
                            <div class="gateways">
                                {% for gateway in checkout.gateways %}
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="gateway" id="gateway" value="{{ gateway.id }}" {% if checkout.gateways|length == 1 %} checked="checked" {% endif %} data-id="{{ gateway.gateway }}">
                                            <img src="{{ gateway.image }}"/> 
                                            {{ gateway.name }} 
                                            {% if gateway.offset != 0 %} 
                                                ({% if gateway.offset > 0 %}+{% endif %}{{ gateway.offset|money }} <small>{{ basket.currency }}</small>)
                                            {% endif %} 
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
    
                            {% if checkout.amazonpay %}
                                {% include "amazonpaybutton.html" %}
                            {% endif %} 
                                    
                        {% endif %}
                            
                        {% if checkout.braintree %}
                            <div class="braintree-details hidden">
                                <div class="bt-drop-in-wrapper">
                                    <div id="bt-dropin"></div>
                                </div>
                                <input id="nonce" name="payment_method_nonce" type="hidden" />                            
                                <script src="https://js.braintreegateway.com/web/dropin/1.2.0/js/dropin.min.js"></script>
                                <script>
                                    var form = document.querySelector('.gateway')[0];
                                    var client_token = "{{ checkout.braintree.braintree_client_token }}";
                                    var braintreeinstance;
                                
                                    braintree.dropin.create({
                                      authorization: client_token,
                                      selector: '#bt-dropin',
                                      paypal: {
                                        flow: 'vault'
                                      }
                                    }, function (createErr, instance) {
                                        braintreeinstance = instance;
                                    });
                                </script>
                            </div>
                        {% endif %}                            
                            
                        {% include "checkout_fields.html" %}
                            
                        <div class="checkout__card">
                            <div class="inputGroup">
                                <label>{{ __("Card number:") }}</label>
                                <input type="text" class="form-control" placeholder="4242 4242 4242 4242" />
                            </div>
        
                            <div class="inputGroup">
                                <label>{{ __("CVC:") }} 
                                    <a href="http://www.cvvnumber.com/cvv.html" target="_blank" style="font-size:11px">{{ __("What is this?") }}</a>
                                </label>
                            </div>
                            
                            <input type="text" placeholder="123" />
                            
                            <div class="inputGroup">
                                <label>{{ __("Expiry month:") }}</label>
                                <select class="form-control">
                                    <option value='01'>{{ __("01 - January") }}</option>
                                    <option value='02'>{{ __("02 - February") }}</option>
                                    <option value='03'>{{ __("03 - March") }}</option>
                                    <option value='04'>{{ __("04 - April") }}</option>
                                    <option value='05'>{{ __("05 - May") }}</option>
                                    <option value='06'>{{ __("06 - June") }}</option>
                                    <option value='07'>{{ __("07 - July") }}</option>
                                    <option value='08'>{{ __("08 - August") }}</option>
                                    <option value='09'>{{ __("09 - September") }}</option>
                                    <option value='10'>{{ __("10 - October") }}</option>
                                    <option value='11'>{{ __("11 - November") }}</option>
                                    <option value='12'>{{ __("12 - December") }}</option>
                                </select>
                            </div>
                            
                            <div class="inputGroup">
                                <label>{{ __("Expiry year:") }}</label>
                                <select class="form-control">
                                    {% for year in checkout.expiryYears %}
                                        <option value="{{ year }}">{{ year }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
    
                        <div class="tax"></div>
    		            
    		            {{ privacyForm|raw }}
    
                        {% if checkout.gateways|length > 0 or basket.price == 0 %}
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="true" name="agreement">
                                            {{ __("I agree to the :link_start terms & conditions :link_end of this purchase.", {'link_start': '<a href="javascript::void(0);" data-remote="/terms" class="toggle-modal">', 'link_end': '</a>'})|raw }}
                                        </label>
                                        {% include "checkout/tokenize.html" %}
                                    </div>
                                </div>
                                    <div class="col-sm-4">
                                        {% include "checkout/buttons.html" %}
                                    </div>
                              </div>  
                        {% else %}
                            <p>You need to setup a <a href="http://server.buycraft.net/gateways" target="_blank">payment gateway</a>in your control panel before players can donate.</p>
                        {% endif %}
                            
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    
    {% if checkout.kount %}
        <iframe width="1" height="1" frameborder="0" scrolling="no" src="{{ checkout.kount.url|raw }}">
            <img width="1" height="1" src="{{ checkout.kount.gif|raw }}">    
        </iframe>
    {% endif %}
        </div>
        

{% endblock %} 