{% extends "layout.html" %}

{% block content %}
    <div class="body">
        <div>
            <div class="sidebar">
                {% include "header_3.html" %}   
                {{ modules|raw }}
            </div>
        </div>
        <div class="content">
            <div class="panel">
                <div class="featured">{{ modules|raw }}</div>
                
                <div class="panel__heading">
                    <h1><i class="fas fa-check-circle" style="color: var(--color-green); margin-right: var(--spacing-s);"></i>Payment Completed</h1>
                </div>
                <div class="panel__body markup__body">
                    {{ thanks|raw }}
                    <br>
                    {{ delivery|raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}