<div class="basket menuWrapper" data-toggle="basket">
            <div class="basket__buttons">
                <button class="basket__close iconBoxed iconBoxed--rounded btn--dark cursorAura cursorAura--dim" onclick="manageMenu('close', 'basket')">
                    <i class="fas fa-chevron-right"></i>
                </button>
                <button type="button" class="btn btn--dark cursorAura--dim dropdown" onclick="toggleDropdown('currency')">
                    {{ basket.currency }} <i class="fa fa-caret-down"></i>
                    <ul class="dropdownMenu" data-toggle="currency">
                        {% for currency in store.currencies %}
                            {% if currency.code in [store.currency, "AUD", "BRL", "CAD", "DKK", "EUR", "NOK", "NZD", "GBP", "SEK", "USD", "PLN"] %}
                                <li {% if basket.currency == currency.code %}class="active"{% endif %}>
                                  <a href="?currency={{ currency.code }}">{{ currency.code }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </button>
                <a href="/checkout/logout" class="btn btn--dark cursorAura--dim btn--hideMobile">Logout</a>
                <a href="/checkout/logout" class="btn btn--dark iconBoxed iconBoxed--rounded btn--showMobile"><i class="fas fa-sign-out-alt"></i></a>
            </div>
            <div class="basket__cart">
                <div class="cart__info">
                    <h2>Your Cart</h2>
                    <p>{%if basket.packages|length > 0 %}{{ basket.packages|length }} item{%if basket.packages|length > 1 %}s{%endif%} for {{ basket.price|money }} {{basket.currency}}{%else%}No items in cart!{%endif%}</p>
                    <span class="tag tag--left tag--light">{{basket.ign}}</span>
                </div>
                <div class="cart__player"><img src="https://mc-heads.net/body/{{basket.uuid}}" class="unselectable"/></div>
            </div>
            <div class="basket__items">
                {% for package in basket.packages %}
                    <form method="post" action="/checkout/update" id="package--{{package.id}}">
                        <div class="package">
                            <div class="package__info">
                                <h3>{{ package.name[:25] }}</h3>
                                <span class="tag tag--left tag--700">{{ package.price|money }} {{ basket.currency }}</span>
                            </div>
                            <div class="package__buttons">
                                <span>Quantity:</span>
                                <a href="javascript::void(0);" data-remote="/package/{{ package.id }}" class="iconBoxed iconBoxed--rounded package__infoModal toggle-modal cursorAura cursorAura--dim"><i class="fas fa-info"></i></a>
                                <button onclick="subtractPackage({{package.id}})" class="iconBoxed iconBoxed--rounded package__remove cursorAura" ><i class="fas fa-minus"></i></button>
                                <input type="text" class="package__quantity" name="quantity[{{ package.id }}]" value="{{ package.quantity }}" {% if package.price == 0.00 or package.disableQuantity %}disabled="disabled"{% endif %} maxlength="3"/>
                                <a href="/checkout/packages/add/{{ package.id }}" class="iconBoxed iconBoxed--rounded package__add cursorAura"><i class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </form>
                {% endfor %}
            </div>
            <div class="basket__total">
                <div>
                    <h3>Total</h3>
                    <h2>{{ basket.price|money }} {{basket.currency}}</h2>
                </div>
                <a href="/checkout/basket" class="btn btn--primary cursorAura">Checkout</a>
            </div>
        </div>