{% extends "layout.html" %}

{% block content %}
	<div class="body">
	    <div>
    	    <div class="sidebar">
    	    {% include "header_3.html" %}    
    			{{ modules|raw }}
    		</div>
		</div>
		<div class="content">
		    <div class="featured">{{ modules|raw }}</div>
		    
			<div class="panel">
				<div class="panel__heading">
				    <h2>Welcome to the {{store.name}} store!</h2>
            
			    </div>
				<div class="panel__body markup__body">
			  		{{ index.description|raw }}
				</div>
			</div>
		</div>
	</div>
	<style>
	</style>
{% endblock %}