{% extends "layout.html" %}

{% block content %}

    <main class="container flex-row">
    {% include "header_2.html" %}
    
    
    
    
    
    
    
    
    <div class="main-bar col-8 flex-col">
        <div class="main-wc">
            <h1>Awaiting payment confirmation</h1>
            
        </div>
        <div class="main-container">
                     {{ gateway.note|raw }}
		  {{ gateway.scripts|raw }}
                </div>
    </div>
</main>
    {% include "content_footer.html" %}

{% endblock %}