<div class="module module--payments">
    <div class="module__heading">
        
        <h2><i class="fas fa-user-friends"></i>{{ module.header }}</h2>
    </div>
    <div class="module__body">
        {% if module.payments %}
            <ul>
                {% for payment in module.payments %}
                    <li>
                        <img src="https://minotar.net/avatar/{{payment.ign}}/32" width="32" class="unselectable" />
                        <small>{{payment.ign}}</small>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No recent payments to display.</p>
        {% endif %}
    </div>
</div>
