
<div class="module p-3 module-gift" id="giftcardbalance">
    <h4 class="mb-3"><i class="fa-solid fa-gift me-1"></i>{{ module.header }}</h4>
    <div class="giftcardbalance">
        <form action="#giftcardbalance" method='post'>
            <div class="input-group d-flex justify-content-center align-items-center flex-column">
                <input type="text" name="card_number" placeholder="Card Number" class="form-control mb-3 w-100" value="{{ search }}">
                <div class="input-group-append w-100">
                    <button class="btn w-100 drop-shadow">{{ __("Check") }}</button>
                </div>
            </div>
            {% if search %}
            {% if giftcard == false or giftcard.card_number == false %}
            <p class='alert alert-danger'>{{ __("No card found") }}</p>
            {% elseif giftcard.void == 1 %}
            <p class='alert alert-warning'>{{ __("This gift card has been marked as void") }}</p>
            {% else %}
            <p><strong>{{ __("Card balance:") }} {{ giftcard.remaining_balance }} {{ store.currency }}</strong></p>
            {% endif %}
            {% endif %}

        </form>
    </div>
</div>