<div class="module-top btn box-shadow flex-row">
    
    <div class="content flex-row">
    {% if module.donor %}
        <img src="https://mc-heads.net/body/{{module.ign}}" alt="" class="drop-shadow ava">
        <div class="text flex-col text-shadow">
            <h4><i class="fa-solid fa-ranking-star"></i>{{ module.header }}</h4>
            <p>{{ module.ign }}
            {% if module.displayAmount %}
                            <strong>{{ module.total|money }}</strong> <small>{{ store.currency }}</small>
                        {% else %}
                            {{ __("donated the most ") }}
                        {% endif %}
            </p>
        </div>
    {% else %}
        <img src="https://mc-heads.net/body/MHF_Steve" alt="" class="drop-shadow ava">
        <div class="text flex-col text-shadow">
            <h4><i class="fa-solid fa-ranking-star"></i>{{ module.header }}</h4>
            <p>No recent top donator to display.</p>
        </div>
        
    {% endif %}
    </div>
</div>