<div class="module module--topdonator">
    <div class="module__avatar">
        {% if module.ign %}
            <img src="https://mc-heads.net/body/{{module.ign}}" class="unselectable" id="topDonatorAvatar" data-username="{{module.ign}}"/>
        {% else %}
            <img src="https://mc-heads.net/body/MHF_Steve" class="unselectable" id="topDonatorAvatar"/>
        {% endif %}
    </div>
    <div class="module__body">
        <h2><i class="fas fa-star"></i> Top Donator</h2>
        {% if module.ign %}
            <p>{{ module.ign }},</p>
            <p>
                {% if module.displayAmount %}
                    {{ __("donated") }} {{ module.total|money }} <small>{{ store.currency }}</small>
                {% else %}
                    {{ __("donated the most ") }}
                {% endif %}
                
                {% if module.period == "hourly" %}
                    {{ __("this hour.") }}
                {% elseif module.period == "daily" %}
                    {{ __("today.") }}
                {% elseif module.period == "monthly" %}
                    {{ __("this month.") }}
                {% elseif module.period == "yearly" %}
                   {{ __("this year.") }}
                {% else %}
                    {{ __("this week.") }}
                {% endif %}    
            </p>
        {% else %}
            <p>Your name and skin can be here!</p>
        {% endif %}
    </div>
</div>