{% extends "layout.html" %}

{% block content %}

<main class="container options flex-row category">
  {% include "header_2.html" %}
   <div class="main-bar col-8 flex-col">
      <div class="main-wc box-shadow">
         <h1 class="name">{{ options.package.name }}</h1>
      </div>
      
      
      
      
      
      <div id="content-outer " class="login-form btn box-shadow">
     <section class="bg-white p-0 row no-gutters border-left border-right">
        <div class="col-12">
            <div class="p-xl-5 p-4">
                <h4 class="option-name">Enter package options: </h4>
                <div class="variables">
                    <form method="post">
                        {% if options.package.chooseServer %}
                        <div class="form-group">
                            <label>{{ __("Please choose which server to receive this package upon") }}</label>
                            <select class="form-control input-lg options-dd flex-col btn box-shadow" name="server">
                                <option value="">{{ __("Please choose which server to receive this package upon") }}</option>
                                {% for server in options.servers %}
                                <option value="{{ server.id }}">{{ server.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% endif %}

                        {% if options.package.customPrice %}
                        <div class="form-group">
                            <label>{{ __("Please enter an amount greater than " ~ options.package.price ~ " " ~ store.currency ~ " that you'd like to pay.") }}</label>
                            <div class="input-group">
                                <input type="text" name="price" class="form-control input-lg" placeholder="{{ __("Please enter the amount you'd like to pay.") }}">
                                <div class="input-group-append">
                                    <span class="input-group-text">{{ store.currency }}</span>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        {% for variable in options.variables %}
                        {% if variable.type == "dropdown" %}
                        <div class="form-group mb-4">
                            <label>{{ variable.description }}</label>
                            <select name="variables[{{ variable.id }}]" class="form-control input-lg options-dd flex-col btn box-shadow">
                                <option value="">{{ variable.description }}</option>
                                {% for option in variable.options %}
                                <option value="{{ option.id }}">
                                    {{ option.name }}
                                    {% if option.price > 0 %}
                                    (+{{ option.price|money }} {{ basket.currency }})
                                    {% endif %}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        {% elseif variable.id == "discord_id" %}
                            <p>{{ variable.description }}</p>
                            
                            <div class="input-group flex-col">
                              <input type="text" class="form-control input-lg" readonly value="{{ variable.value ? "Logged in as " ~ variable.discord_tag : "Not logged in" }}">
                            <a href="https://ident.tebex.io/discord/?return={{ url(['fivem_id']) }}" id="login-with-discord" class="btn btn-info login-discord flex-row box-shadow">Login with Discord</a>
                            </div>
                            
                            <input type="hidden" name="variables[{{ variable.id }}]" value="{{ variable.value }}" />
                            <br />
                        {% else %}
                        <div class="form-group mb-4">
                            <label>{{ variable.description }}</label>
                            <input type="text" name="variables[{{ variable.id }}]" class="form-control input-lg"
                                   placeholder="{{ variable.description }}" />
                        </div>
                        {% endif %}
                        {% endfor %}

                        <div class="align-items-center flex-row btn-end">
                                <a href="/category/{{ options.package.category }}" class="btn btn-back box-shadow flex-row">{{
                                    __("Back") }}</a>
                                <input type="submit" value="{{ __("Continue") }}" name="submit" class="btn btn-con box-shadow flex-row" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
      
      
      
      
      
      
      
      
      
      
   </div>
</main>

{% include "content_footer.html" %}

{% endblock %}