{% extends "layout.html" %}

{% block content %}

<div class="container option">
   <div class="row">
      <div class="col-md-3 col-12 sidebar">
         {% include "header_2.html" %}
         {{ modules|raw }}
      </div>
      <div class="col-md-9 col-12 mainbar">
               
         <div class="options p-4 mb-2 position-relative">
             <h4 class="mb-4">{{ __("Enter package options") }}</h4>
             <div class="variables">
                    <form method="post">
                        {% if options.package.chooseServer %}
                        <div class="form-group">
                            <label class="mb-2">{{ __("Please choose which server to receive this package upon") }}</label>
                            <select class="form-control input-lg" name="server">
                                <option value="">{{ __("Please choose which server to receive this package upon") }}</option>
                                {% for server in options.servers %}
                                <option value="{{ server.id }}">{{ server.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% endif %}

                        {% if options.package.customPrice %}
                        <div class="form-group custom-price">
                            <label class="mb-2">{{ __("Please enter an amount greater than " ~ options.package.price ~ " " ~ store.currency ~ " that you'd like to pay.") }}</label>
                            <div class="input-group">
                                <input type="text" name="price" class="form-control input-lg" placeholder="{{ __("Please enter the amount you'd like to pay.") }}">
                                <div class="input-group-append">
                                    <span class="input-group-text btn">{{ store.currency }}</span>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        {% for variable in options.variables %}
                        {% if variable.type == "dropdown" %}
                        <div class="form-group mb-4">
                            <label>{{ variable.description }}</label>
                            <select name="variables[{{ variable.id }}]" class="form-control input-lg">
                                <option value="">{{ variable.description }}</option>
                                {% for option in variable.options %}
                                <option value="{{ option.id }}" {{ option.default == true ? 'selected' : '' }}>
                                    {{ option.name }}
                                    {% if option.price > 0 %}
                                    (+{{ option.price|money }} {{ basket.currency }})
                                    {% endif %}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        {% elseif variable.id == "discord_id" %}
                            <p>{{ variable.description }}</p>
                            
                            <div class="input-group">
                              <input type="text" class="form-control input-lg" readonly value="{{ variable.value ? "Logged in as " ~ variable.discord_tag : "Not logged in" }}">
                              <span class="input-group-append">
                                  <a href="https://ident.tebex.io/discord/?return={{ url(['fivem_id']) }}" id="login-with-discord" class="btn btn-info">Login with Discord</a>
                              </span>
                            </div>
                            
                            <input type="hidden" name="variables[{{ variable.id }}]" value="{{ variable.value }}" />
                            <br />
                        {% else %}
                        <div class="form-group mb-4">
                            <label>{{ variable.description }}</label>
                            <input type="text" name="variables[{{ variable.id }}]" class="form-control input-lg"
                                   placeholder="{{ variable.description }}" />
                        </div>
                        {% endif %}
                        {% endfor %}

                        <div class="row align-items-center end-line mt-4">
                            <div class="col-6 text-start">
                                <a href="/category/{{ options.package.category }}" class="btn ">{{
                                    __("Back") }}</a>
                            </div>
                            <div class="col-6 text-end">
                                <input type="submit" value="{{ __("Continue") }}" name="submit" class="btn " />
                            </div>
                        </div>
                    </form>
                </div>
         </div>
      </div>
   </div>
</div>


{% include "content_footer.html" %}

{% endblock %}