
<div class="package-modal modal-dialog">
    <div class="modal-content">
        <div class="modal-header d-flex justify-content-between align-items-center ">
        <h4 class="modal-title">{{ package.name }}</h4>
            <button type="button" class="btn--close btn" data-bs-dismiss="modal" aria-hidden="true"><i class="fa-solid fa-xmark"></i></button>
            
        </div>
        <div class="modal-body p-3">
            <div class="mb-3">
                <img src="{{ package.image.url }}" class="card-img-top drop-shadow  {% if package.image.borderless %}img-rounded{% else %}img-thumbnail{% endif %}" />
            </div>
            <p class="">
                {{ package.description|raw }}
            </p>
        </div>
        {% include 'package_footer.html' %}
    </div>
</div>