{% extends "layout.html" %}

{% block content %}
    
    <div class="container login mt-lg-0 mt-2">
   <div class="row">
      <div class="col-md-3 col-12 sidebar">
         {% include "header_2.html" %}
         {{ modules|raw }}
      </div>
      <div class="col-md-9 col-12 mainbar">
               
         <div class="login-info p-4 mb-2 position-relative">
             <h4 class="mb-2"><i class="fa-solid fa-hourglass-start me-1"></i>{{ __("Awaiting payment confirmation") }}</h4>
             <p>
                        {{ __("We are waiting for confirmation that your payment has been accepted. You will receive an email as soon as this happens. If you have not heard anything within the next 60 minutes, please contact server staff.") }}
                    </p>
                    <p class="mb-0">
                        {{ __("If you have any issues please contact a member of staff on the server. Please do not contact Mojang or Buycraft. This page is not proof of purchase, please provide the store's support with your transaction ID if there are any issues with the payment.") }}
                    </p>
         </div>
      </div>
   </div>
</div>

    {% include "content_footer.html" %}

{% endblock %}