{% extends "layout.html" %}

{% block content %}

    
    <div class="container login ">
   <div class="row">
      <div class="col-md-3 col-12 sidebar">
         {% include "header_2.html" %}
         {{ modules|raw }}
      </div>
      <div class="col-md-9 col-12 mainbar mt-lg-0 mt-2">
               
         <div class="login-info p-4 mb-2 position-relative">
             <h4 class="mb-2">{{ __("Enter username") }}</h4>
             <p class="mb-2">{{ __("Please enter your username to continue") }}</p>
                    {{ loginform|raw }}
         </div>
      </div>
   </div>
</div>
    

    {% include "content_footer.html" %}

{% endblock %}