{% extends "layout.html" %}

{% block content %}
    <div class="jumbotron inner-page-title">
        <div class="container">
            <header class="page-title">
                <h1 class="text-center text-white text-shadow">{{ page.title }}</h1>
            </header>
        </div>
    </div>

    <div id="content-outer" class="container px-0 px-lg-3">
        <section class="bg-white p-0 row no-gutters border-left border-right layout-standard">
            <div class="col-12 col-lg-8">
                <div class="p-xl-5 p-4">
                    {{ page.metaData.content|raw }}
                </div>
            </div>
            <div class="col-12 col-lg-4 sidebar">
                {{ modules|raw }}
            </div>
        </section>
    </div>

    {% include "content_footer.html" %}

{% endblock %}